Repository Orange-OpenSource/ods-charts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache, prettier --write

.lintstagedrc.json:

{
  "*.{ts,js,mjs}": ["eslint --cache --cache-location .eslintcache"],
  "*.{ts,js,mjs,json,md,yml,yaml}": ["prettier --write"]
}

npm run install:angular-echarts
  .vscode/settings.json
  test/angular-echarts/package-lock.json
Due: prettier --write

npm run install:lib
  package-lock.json
  test/angular-echarts/package-lock.json
  test/angular-ng-boosted/package-lock.json
  test/angular-ngx-echarts/package-lock.json
  test/react/package-lock.json
  test/vue/package-lock.json
Due: prettier --write

bump astro from 6.4.4 to 7.0.5 : need to externalise js from md files
  docs/src/content/use_cases/add-unit.md
  docs/src/content/use_cases/dataset.md
  docs/src/content/use_cases/heatmap.md
  docs/src/content/use_cases/legends-holders.md
  docs/src/content/use_cases/size-management.md
  docs/src/content/use_cases/specify-color.md
  docs/src/content/use_cases/theme.md
  docs/src/content/use_cases/time-slider.md
  docs/src/content/use_cases/tooltip.md
  docs/static/[version]/use-cases.js
  docs/static/[version]/use_cases_code/add-unit_codeId.js
  docs/static/[version]/use_cases_code/dataset_dataset_codeId.js
  docs/static/[version]/use_cases_code/dataset_dataset_line_codeId.js
  docs/static/[version]/use_cases_code/dataset_dataset_mix_codeId.js
  docs/static/[version]/use_cases_code/heatmap_codeId.js
  docs/static/[version]/use_cases_code/legends-holders_custom_content_codeId.js
  docs/static/[version]/use_cases_code/legends-holders_custom_simple_content_codeId.js
  docs/static/[version]/use_cases_code/legends-holders_format_codeId.js
  docs/static/[version]/use_cases_code/legends-holders_pct_legend_codeId.js
  docs/static/[version]/use_cases_code/legends-holders_stacked_codeId.js
  docs/static/[version]/use_cases_code/legends-holders_value_legend_codeId.js
  docs/static/[version]/use_cases_code/legends-holders_vertical_codeId.js
  docs/static/[version]/use_cases_code/size-management_codeId.js
  docs/static/[version]/use_cases_code/specify-color_codeId.js
  docs/static/[version]/use_cases_code/specify-color_threshold_codeId.js
  docs/static/[version]/use_cases_code/specify-color_two_colors_codeId.js
  docs/static/[version]/use_cases_code/specify-color_two_colors_in_one_codeId.js
  docs/static/[version]/use_cases_code/theme_t1-codeId.js
  docs/static/[version]/use_cases_code/theme_t2-codeId.js
  docs/static/[version]/use_cases_code/theme_t3-codeId.js
  docs/static/[version]/use_cases_code/time-slider_codeId.js
  docs/static/[version]/use_cases_code/tooltip_div1_codeId.js
  docs/static/[version]/use_cases_code/tooltip_div2_codeId.js
  docs/static/[version]/use_cases_code/tooltip_div3_codeId.js
  docs/static/[version]/use_cases_code/tooltip_div4_codeId.js
  docs/static/[version]/use_cases_code/tooltip_div5_codeId.js
  docs/static/[version]/use_cases_code/tooltip_div6_codeId.js
  docs/static/[version]/use_cases_code/tooltip_div7_codeId.js
Due: eslint --cache --cache-location .eslintcache, prettier --write

Revert "chore(deps): bump webpack-dev-server and @angular-devkit/build-angular"
  .github/dependabot.yml
  test/angular-14/package-lock.json
  test/angular-14/package.json
Due: prettier --write

remove vs settings
  .gitignore
  .vscode/settings.json
Due: prettier --write

remove vsc settings
  .gitignore
Due: none

npm run install:angular-ngx-echarts
  test/angular-ngx-echarts/package-lock.json
Due: prettier --write

npm run install:lib
  test/angular-echarts/package-lock.json
  test/angular-ng-boosted/package-lock.json
  test/angular-ngx-echarts/package-lock.json
  test/react/package-lock.json
  test/vue/package-lock.json
Due: prettier --write

npm run install:angular-ng-boosted
  test/angular-ng-boosted/package-lock.json
Due: prettier --write

Update dependenies
  test/angular-ng-boosted/package-lock.json
  test/angular-ng-boosted/package.json
Due: prettier --write

feat(docs): Add a redirection to the actual site
  _redirects
Due: none

feat(docs): Another try to redirect from netlify to actual site
  _redirects
  netlify.toml
Due: none

fix(docs): Update to make it work
  _redirects
  netlify.toml
Due: none

feat(docs): Redirect to charts.unified domain
  docs/src/components/Head.astro
Due: none

fix(lib): Wrong marker color (#1092)
  specs/spec-1062-wrong-marker-color.md
  src/theme/ods-chart-theme.spec.ts
  src/theme/ods-chart-theme.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

fix(lib): Inconsistency in parameters of ODSChartsPopoverItem
  docs/src/content/use_cases/tooltip.md
  docs/static/[version]/use_cases_code/tooltip_div2_codeId.js
  specs/spec-1061-popover-marker-update.md
  src/theme/popover/ods-chart-popover.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

Unit test
  src/theme/popover/ods-chart-popover-definitions.ts
  src/theme/popover/ods-chart-popover.spec.ts
  src/theme/popover/ods-chart-popover.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

Potential fix for pull request finding
  specs/spec-1061-popover-marker-update.md
Due: prettier --write

[FIX] Update doc when differene between marke attribute and getPopoverMarker() method
  docs/src/content/use_cases/tooltip.md
  specs/spec-1061-popover-marker-update.md
  src/theme/ods-chart-theme.ts
  src/theme/popover/ods-chart-popover-definitions.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

fix(lib): Inconsistency in parameters of ODSChartsPopoverItem (#1093)
  docs/src/content/use_cases/tooltip.md
  docs/static/[version]/use_cases_code/tooltip_div2_codeId.js
  specs/spec-1061-popover-marker-update.md
  src/theme/ods-chart-theme.ts
  src/theme/popover/ods-chart-popover-definitions.ts
  src/theme/popover/ods-chart-popover.spec.ts
  src/theme/popover/ods-chart-popover.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

feat(docs): Redirect to charts.unified domain (#1133)
  docs/src/components/Head.astro
Due: none

remove vscode settings from
  .gitignore
Due: none

remove vscode settings from git
  .gitignore
Due: none

fix(lib): ODS Charts uses tooltip.formatter in place of valueFormatter
  specs/spec-1022-value-formatter-support.md
Due: prettier --write

ECharts version compatibility decision
  specs/spec-1022-value-formatter-support.md
Due: prettier --write

First implementation
  docs/src/content/use_cases/add-unit.md
  docs/src/content/use_cases/dataset.md
  docs/src/content/use_cases/specify-color.md
  docs/src/content/use_cases/tooltip.md
  docs/static/[version]/use_cases_code/add-unit_codeId.js
  docs/static/[version]/use_cases_code/dataset_dataset_line_codeId.js
  docs/static/[version]/use_cases_code/specify-color_codeId.js
  docs/static/[version]/use_cases_code/specify-color_two_colors_codeId.js
  docs/static/[version]/use_cases_code/specify-color_two_colors_in_one_codeId.js
  docs/static/[version]/use_cases_code/tooltip_div6_codeId.js
  specs/spec-1022-value-formatter-support.md
  src/theme/popover/ods-chart-popover.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

Bump to v7.2.2
  package-lock.json
  package.json
Due: prettier --write

.
  test/angular-echarts/package-lock.json
  test/angular-ng-boosted/package-lock.json
  test/angular-ngx-echarts/package-lock.json
  test/react/package-lock.json
  test/vue/package-lock.json
Due: prettier --write

.
  package-lock.json
Due: prettier --write

.
  package-lock.json
  package.json
  test/angular-echarts/package-lock.json
  test/angular-ng-boosted/package-lock.json
  test/angular-ngx-echarts/package-lock.json
  test/react/package-lock.json
  test/vue/package-lock.json
Due: prettier --write

.
  test/react/package-lock.json
  test/react/package.json
Due: prettier --write

.
  test/angular-14/package-lock.json
Due: prettier --write

fix(lib): themeManager.manageChartResize() may prooduce ResizeObserver loop completed with undelivered notifications #1182
  src/theme/resize/ods-chart-resize.spec.ts
  src/theme/resize/ods-chart-resize.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

feat(lib): Add world map to lib
  docs/src/content/examples/geographic-data-chart.md
  docs/static/[version]/examples.js
  docs/static/[version]/images/maps/world.svg
  package-lock.json
  package.json
  src/assets/world.svg
Due: eslint --cache --cache-location .eslintcache, prettier --write

feat(lib): Add world map to lib
  docs/src/content/use_cases/map.md
  docs/src/pages/[version]/use_cases/index.astro
  docs/static/[version]/images/maps/world.svg
  docs/static/[version]/use_cases_code/map_choropleth_codeId.js
  docs/static/[version]/use_cases_code/map_codeId.js
  src/assets/world.svg
Due: eslint --cache --cache-location .eslintcache, prettier --write
