Repository Orange-OpenSource/ods-charts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache, prettier --write

fix(lib): themeManager.manageChartResize() may prooduce ResizeObserver loop completed with undelivered notifications #1182 (#1183)
  package-lock.json
  src/theme/resize/ods-chart-resize.spec.ts
  src/theme/resize/ods-chart-resize.ts
  test/angular-echarts/package-lock.json
  test/angular-ng-boosted/package-lock.json
  test/angular-ngx-echarts/package-lock.json
  test/react/package-lock.json
  test/vue/package-lock.json
Due: eslint --cache --cache-location .eslintcache, prettier --write

[REVIEW] Seeing it only right now, but we shouldn't display this kind of value, maybe we can use tokens, or maybe classes
  docs/src/content/use_cases/tooltip.md
  docs/static/[version]/use_cases_code/tooltip_div6_codeId.js
Due: eslint --cache --cache-location .eslintcache, prettier --write

fix(lib): ODS Charts uses tooltip.formatter in place of valueFormatter (#1094)
  docs/src/content/use_cases/add-unit.md
  docs/src/content/use_cases/dataset.md
  docs/src/content/use_cases/specify-color.md
  docs/src/content/use_cases/tooltip.md
  docs/static/[version]/use_cases_code/add-unit_codeId.js
  docs/static/[version]/use_cases_code/dataset_dataset_line_codeId.js
  docs/static/[version]/use_cases_code/specify-color_codeId.js
  docs/static/[version]/use_cases_code/specify-color_two_colors_codeId.js
  docs/static/[version]/use_cases_code/specify-color_two_colors_in_one_codeId.js
  docs/static/[version]/use_cases_code/tooltip_div6_codeId.js
  specs/spec-1022-value-formatter-support.md
  src/theme/popover/ods-chart-popover.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

chore(release): v0.5.1
  package-lock.json
  package.json
  test/angular-echarts/package-lock.json
  test/angular-ng-boosted/package-lock.json
  test/angular-ngx-echarts/package-lock.json
  test/react/package-lock.json
  test/vue/package-lock.json
Due: prettier --write

feat(lib): Add choropleth map use case using directly svg data zone
  docs/src/content/use_cases/map.md
  docs/src/pages/[version]/use_cases/index.astro
  docs/static/[version]/images/maps/world.svg
  docs/static/[version]/use_cases_code/map_choropleth_codeId.js
  src/assets/world.svg
Due: eslint --cache --cache-location .eslintcache, prettier --write

fix-doc): Duplicate graph on stackblitz.com #1208
  docs/src/content/use_cases/add-unit.md
  docs/src/content/use_cases/dataset.md
  docs/src/content/use_cases/heatmap.md
  docs/src/content/use_cases/legends-holders.md
  docs/src/content/use_cases/size-management.md
  docs/src/content/use_cases/specify-color.md
  docs/src/content/use_cases/theme.md
  docs/src/content/use_cases/time-slider.md
  docs/src/content/use_cases/tooltip.md
  docs/static/[version]/use-cases.js
Due: eslint --cache --cache-location .eslintcache, prettier --write

.
  test/angular-ng-boosted/package-lock.json
Due: prettier --write

Update docs/src/content/use_cases/legends-holders.md
  docs/src/content/use_cases/legends-holders.md
Due: prettier --write

Update docs/src/content/use_cases/specify-color.md
  docs/src/content/use_cases/specify-color.md
Due: prettier --write

fix(doc): Duplicate graph on stackblitz.com #1208 (#1209)
  docs/src/content/use_cases/add-unit.md
  docs/src/content/use_cases/dataset.md
  docs/src/content/use_cases/heatmap.md
  docs/src/content/use_cases/legends-holders.md
  docs/src/content/use_cases/size-management.md
  docs/src/content/use_cases/specify-color.md
  docs/src/content/use_cases/theme.md
  docs/src/content/use_cases/time-slider.md
  docs/src/content/use_cases/tooltip.md
  docs/static/[version]/use-cases.js
Due: eslint --cache --cache-location .eslintcache, prettier --write

fix(lib): A heat map with less hot area to display than color crashes the generation of options. #1203
  docs/static/[version]/use_cases_code/heatmap_codeId.js
  src/theme/ods-chart-theme.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

Add an ODSChartsTypes.HEATMAP chart type
  docs/src/content/use_cases/heatmap.md
  docs/static/[version]/use_cases_code/heatmap_codeId.js
  src/theme/charts-type/charts-type.ts
  src/theme/ods-chart-theme.spec.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

Add a ODSChartsVisualMapColorRangeMode to enable Apache ECharts to calculate a continuous range of color from the first to the last color.
  docs/src/content/use_cases/heatmap.md
  docs/static/[version]/use_cases_code/heatmap_codeId.js
  src/theme/charts-type/charts-type.ts
  src/theme/ods-chart-theme.spec.ts
  src/theme/ods-chart-theme.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

fix(lib): A heat map with less hot area to display than color crashes the generation of options. #1203 (#1207)
  docs/src/content/use_cases/heatmap.md
  docs/static/[version]/use_cases_code/heatmap_codeId.js
  src/theme/charts-type/charts-type.ts
  src/theme/ods-chart-theme.spec.ts
  src/theme/ods-chart-theme.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

chore(release): v0.5.2
  package-lock.json
  package.json
  test/angular-echarts/package-lock.json
  test/angular-ng-boosted/package-lock.json
  test/angular-ngx-echarts/package-lock.json
  test/react/package-lock.json
  test/vue/package-lock.json
Due: prettier --write

fix(doc): Protect map loading from core problems
  docs/static/[version]/examples.js
Due: eslint --cache --cache-location .eslintcache, prettier --write

Embeded geojson in example
  docs/src/assets/stackblitz.js
  docs/src/content/examples/geographic-data-chart.md
  docs/static/[version]/examples.js
  docs/static/[version]/maps/departements.geojson
  docs/static/[version]/maps/regions.geojson
  docs/static/[version]/maps/world.geojson
Due: eslint --cache --cache-location .eslintcache, prettier --write

fix(doc): Protect map loading from core problems (#1221)
  docs/src/assets/stackblitz.js
  docs/src/content/examples/geographic-data-chart.md
  docs/static/[version]/examples.js
  docs/static/[version]/maps/departements.geojson
  docs/static/[version]/maps/regions.geojson
  docs/static/[version]/maps/world.geojson
Due: eslint --cache --cache-location .eslintcache, prettier --write

chore(release): v0.5.2 fixed
  0.5/assets/Scripts.astro_astro_type_script_index_0_lang.B-efhy5l.js
  0.5/colors/index.html
  0.5/examples.js
  0.5/examples/bar-chart/index.html
  0.5/examples/bar-line-chart/index.html
  0.5/examples/donut-chart/index.html
  0.5/examples/gauge-chart/index.html
  0.5/examples/geographic-data-chart/index.html
  0.5/examples/index.html
  0.5/examples/multiple-line-chart/index.html
  0.5/examples/pie-chart/index.html
  0.5/examples/single-line-chart/index.html
  0.5/examples/stacked-bar-chart/index.html
  0.5/index.html
  0.5/maps/departements.geojson
  0.5/maps/regions.geojson
  0.5/maps/world.geojson
  0.5/use_cases/add-unit/index.html
  0.5/use_cases/dataset/index.html
  0.5/use_cases/heatmap/index.html
  0.5/use_cases/index.html
  0.5/use_cases/legends-holders/index.html
  0.5/use_cases/size-management/index.html
  0.5/use_cases/specify-color/index.html
  0.5/use_cases/theme/index.html
  0.5/use_cases/time-slider/index.html
  0.5/use_cases/tooltip/index.html
  index.html
  versions/index.html
Due: eslint --cache --cache-location .eslintcache, prettier --write

chore(release): v0.5.2 fixed (#1222)
  0.5/assets/Scripts.astro_astro_type_script_index_0_lang.B-efhy5l.js
  0.5/colors/index.html
  0.5/examples.js
  0.5/examples/bar-chart/index.html
  0.5/examples/bar-line-chart/index.html
  0.5/examples/donut-chart/index.html
  0.5/examples/gauge-chart/index.html
  0.5/examples/geographic-data-chart/index.html
  0.5/examples/index.html
  0.5/examples/multiple-line-chart/index.html
  0.5/examples/pie-chart/index.html
  0.5/examples/single-line-chart/index.html
  0.5/examples/stacked-bar-chart/index.html
  0.5/index.html
  0.5/maps/departements.geojson
  0.5/maps/regions.geojson
  0.5/maps/world.geojson
  0.5/use_cases/add-unit/index.html
  0.5/use_cases/dataset/index.html
  0.5/use_cases/heatmap/index.html
  0.5/use_cases/index.html
  0.5/use_cases/legends-holders/index.html
  0.5/use_cases/size-management/index.html
  0.5/use_cases/specify-color/index.html
  0.5/use_cases/theme/index.html
  0.5/use_cases/time-slider/index.html
  0.5/use_cases/tooltip/index.html
  index.html
  versions/index.html
Due: eslint --cache --cache-location .eslintcache, prettier --write

npm run install:angular-echarts
  test/angular-echarts/package-lock.json
Due: prettier --write

npm run install:angular-ngx-echarts
  test/angular-ngx-echarts/package-lock.json
Due: prettier --write

npm run install:vue
  test/vue/package-lock.json
Due: prettier --write

npm run install:lib
  package-lock.json
  test/angular-echarts/package-lock.json
  test/angular-ng-boosted/package-lock.json
  test/angular-ngx-echarts/package-lock.json
  test/react/package-lock.json
  test/vue/package-lock.json
Due: prettier --write

npm run install:react + fix typescript version
  test/react/package-lock.json
  test/react/package.json
Due: prettier --write

npm run install:all-deep
  test/react/package-lock.json
Due: prettier --write

npm run install:angular-14
  test/angular-14/package-lock.json
Due: prettier --write

npm run install:lib + add a jasmine spec loader
  package-lock.json
  spec/support/jasmine.json
  spec/support/require-loader.cjs
  test/angular-echarts/package-lock.json
  test/angular-ng-boosted/package-lock.json
  test/angular-ngx-echarts/package-lock.json
  test/react/package-lock.json
  test/vue/package-lock.json
Due: prettier --write

fix prettier
  spec/support/require-loader.cjs
Due: none

move map
  docs/static/[version]/maps/world.svg
  docs/static/[version]/use_cases_code/map_choropleth_codeId.js
Due: eslint --cache --cache-location .eslintcache, prettier --write

update with last js use case code
  docs/src/content/use_cases/map.md
Due: prettier --write

manage svg loading in stackblitz
  docs/src/content/use_cases/map.md
  docs/static/[version]/use-cases.js
Due: eslint --cache --cache-location .eslintcache, prettier --write

Grey color by default for delected zones
  src/theme/charts-type/charts-type.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

use valueFormatter
  docs/static/[version]/use_cases_code/map_choropleth_codeId.js
Due: eslint --cache --cache-location .eslintcache, prettier --write

fix(lib): Fixed a typing error on ods-popover-arrow-display
  src/theme/css-themes/css-variables.ts
  src/theme/popover/ods-chart-popover.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

Path conditions:
  eslint --cache --cache-location .eslintcache: any of: *.{ts,js,mjs}
  prettier --write: any of: *.{ts,js,mjs,json,md,yml,yaml}
