Repository Orange-OpenSource/ods-charts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache, prettier --write

.lintstagedrc.json:

{
  "*.{ts,js,mjs}": ["eslint --cache --cache-location .eslintcache"],
  "*.{ts,js,mjs,json,md,yml,yaml}": ["prettier --write"]
}

fix(doc): Add new version selectors in documents when creating a new minor or major release
  build/change-version.mjs
  docs/src/pages/versions.astro
Due: eslint --cache --cache-location .eslintcache, prettier --write

Productive day of work
  docs/static/[version]/examples.js
  src/theme/charts-type/charts-type.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

Work in progress
  docs/src/content/examples/geographic-data-chart.md
  docs/src/pages/[version]/examples/index.astro
  docs/static/[version]/examples.js
  docs/static/[version]/images/ods-geographic-charts.png
  src/theme/charts-type/charts-type.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

Advancement on default definition
  docs/src/content/examples/geographic-data-chart.md
  docs/static/[version]/examples.js
  src/theme/ODS.project.ts
  src/theme/charts-type/charts-type.ts
  src/theme/css-themes/css-helper.ts
  src/theme/ods-chart-theme.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

A solution THAT NEEDS echarts 6 !!!!!
  docs/static/[version]/examples.js
  src/theme/charts-type/charts-type.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

fix(lib): synchronize marker colors with series custom colors
  docs/src/content/use_cases/tooltip.md
  src/theme/ods-chart-theme.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

Handle Bubble map
  docs/src/content/use_cases/specify-color.md
  docs/static/[version]/examples.js
  docs/static/[version]/images/maps/world.geo.json
  docs/static/[version]/images/maps/world.svg
  src/theme/charts-type/charts-type.ts
  src/theme/ods-chart-theme.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

Remove opacity
  src/theme/charts-type/charts-type.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

.
  test/angular-echarts/package-lock.json
  test/angular-ng-boosted/package-lock.json
  test/angular-ngx-echarts/package-lock.json
  test/react/package-lock.json
  test/vue/package-lock.json
Due: prettier --write

reuse version const
  docs/src/pages/[version]/index.astro
Due: none

reuse version const
  docs/src/pages/[version]/examples/index.astro
Due: none

reuse version const
  docs/src/pages/[version]/colors/index.astro
Due: none

fix(doc): automatically set in examples, use cases and stackblitz the echarts version used in development mode (#881)
  build/change-version.mjs
  config.yml
  docs/src/assets/stackblitz.js
  docs/src/layouts/BaseLayout.astro
  docs/src/layouts/UseCasesLayout.astro
  docs/src/libs/config.ts
  docs/src/pages/[version]/colors/index.astro
  docs/src/pages/[version]/examples/[...slug].astro
  docs/src/pages/[version]/examples/index.astro
  docs/src/pages/[version]/index.astro
  docs/src/pages/[version]/use_cases/[...slug].astro
  docs/src/pages/[version]/use_cases/index.astro
  docs/static/[version]/examples.js
Due: eslint --cache --cache-location .eslintcache, prettier --write

Update build/change-version.mjs
  build/change-version.mjs
Due: eslint --cache --cache-location .eslintcache, prettier --write

wording olddDocsVersion
  build/change-version.mjs
Due: eslint --cache --cache-location .eslintcache, prettier --write

[REVIEW] Delete the sample
  docs/src/content/use_cases/tooltip.md
Due: prettier --write

fix(doc): Add new version selectors in documents when creating a new minor or major release (#893)
  build/change-version.mjs
  docs/src/pages/versions.astro
Due: eslint --cache --cache-location .eslintcache, prettier --write

fix(lib): synchronize marker colors with series custom colors (#898)
  src/theme/ods-chart-theme.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

fix(lib): Retro-compatibility problem on class interface ODSChartsPopoverItem when upgrade from v0.3.1 to v0.4.0
  src/theme/popover/ods-chart-popover-definitions.ts
  src/theme/popover/ods-chart-popover.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

doc(lib): add heatmap use case
  docs/src/content/use_cases/heatmap.md
  docs/src/pages/[version]/use_cases/index.astro
Due: prettier --write

fix chart id
  docs/src/content/use_cases/heatmap.md
Due: prettier --write

fix dark mode
  docs/src/content/use_cases/heatmap.md
Due: prettier --write

fix(lib): Retro-compatibility problem on class interface ODSChartsPopoverItem when upgrade from v0.3.1 to v0.4.0 (#925)
  src/theme/popover/ods-chart-popover-definitions.ts
  src/theme/popover/ods-chart-popover.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

.
  test/react/package-lock.json
Due: prettier --write

doc(lib): add heatmap use case (#921)
  docs/src/content/use_cases/heatmap.md
  docs/src/pages/[version]/use_cases/index.astro
Due: prettier --write

.
  test/angular-ngx-echarts/package-lock.json
Due: prettier --write

chore(release): v0.4.1
  package-lock.json
  package.json
  test/angular-echarts/package-lock.json
  test/angular-ng-boosted/package-lock.json
  test/angular-ngx-echarts/package-lock.json
  test/react/package-lock.json
  test/vue/package-lock.json
Due: prettier --write

.
  test/angular-echarts/package-lock.json
Due: prettier --write

chore(release): v0.4.1
  0.4/api/assets/hierarchy.js
  0.4/api/assets/icons.js
  0.4/api/assets/icons.svg
  0.4/api/assets/search.js
  0.4/api/classes/ODSChartsDialGaugeConfiguration.html
  0.4/api/classes/ODSChartsGaugeConfiguration.html
  0.4/api/classes/ODSChartsPopoverDefinition.html
  0.4/api/classes/ODSChartsPopoverDefinitionWithRenderer.html
  0.4/api/classes/ODSChartsPopoverItem.html
  0.4/api/hierarchy.html
  0.4/api/index.html
  0.4/assets/Scripts.astro_astro_type_script_index_1_lang.BqyJZkI0.js
  0.4/colors/index.html
  0.4/examples.js
  0.4/examples/bar-chart/index.html
  0.4/examples/bar-line-chart/index.html
  0.4/examples/donut-chart/index.html
  0.4/examples/gauge-chart/index.html
  0.4/examples/index.html
  0.4/examples/multiple-line-chart/index.html
  0.4/examples/pie-chart/index.html
  0.4/examples/single-line-chart/index.html
  0.4/examples/stacked-bar-chart/index.html
  0.4/index.html
  0.4/ods-charts.js
  0.4/ods-charts.js.map
  0.4/use_cases/add-unit/index.html
  0.4/use_cases/heatmap/index.html
  0.4/use_cases/index.html
  0.4/use_cases/legends-holders/index.html
  0.4/use_cases/size-management/index.html
  0.4/use_cases/specify-color/index.html
  0.4/use_cases/theme/index.html
  0.4/use_cases/time-slider/index.html
  0.4/use_cases/tooltip/index.html
  index.html
  versions/index.html
Due: eslint --cache --cache-location .eslintcache, prettier --write

chore(release): v0.4.1 (#933)
  0.4/api/assets/hierarchy.js
  0.4/api/assets/icons.js
  0.4/api/assets/icons.svg
  0.4/api/assets/search.js
  0.4/api/classes/ODSChartsDialGaugeConfiguration.html
  0.4/api/classes/ODSChartsGaugeConfiguration.html
  0.4/api/classes/ODSChartsPopoverDefinition.html
  0.4/api/classes/ODSChartsPopoverDefinitionWithRenderer.html
  0.4/api/classes/ODSChartsPopoverItem.html
  0.4/api/hierarchy.html
  0.4/api/index.html
  0.4/assets/Scripts.astro_astro_type_script_index_1_lang.BqyJZkI0.js
  0.4/colors/index.html
  0.4/examples.js
  0.4/examples/bar-chart/index.html
  0.4/examples/bar-line-chart/index.html
  0.4/examples/donut-chart/index.html
  0.4/examples/gauge-chart/index.html
  0.4/examples/index.html
  0.4/examples/multiple-line-chart/index.html
  0.4/examples/pie-chart/index.html
  0.4/examples/single-line-chart/index.html
  0.4/examples/stacked-bar-chart/index.html
  0.4/index.html
  0.4/ods-charts.js
  0.4/ods-charts.js.map
  0.4/use_cases/add-unit/index.html
  0.4/use_cases/heatmap/index.html
  0.4/use_cases/index.html
  0.4/use_cases/legends-holders/index.html
  0.4/use_cases/size-management/index.html
  0.4/use_cases/specify-color/index.html
  0.4/use_cases/theme/index.html
  0.4/use_cases/time-slider/index.html
  0.4/use_cases/tooltip/index.html
  index.html
  versions/index.html
Due: eslint --cache --cache-location .eslintcache, prettier --write

npm run install:angular-14
  test/angular-14/package-lock.json
Due: prettier --write

npm run install:angular-ng-boosted
  test/angular-ng-boosted/package-lock.json
Due: prettier --write

fix france map
  src/theme/charts-type/charts-type.ts
  src/theme/ods-chart-theme.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

Add opacity, orange on buble
  src/theme/charts-type/charts-type.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

display corsica
  docs/static/[version]/examples.js
Due: eslint --cache --cache-location .eslintcache, prettier --write

Add alert about map
  docs/src/content/examples/geographic-data-chart.md
  docs/static/[version]/examples.js
Due: eslint --cache --cache-location .eslintcache, prettier --write

Last changes
  docs/src/content/examples/geographic-data-chart.md
  docs/static/[version]/examples.js
  docs/static/[version]/images/maps/world.svg
Due: eslint --cache --cache-location .eslintcache, prettier --write
