Repository Orange-OpenSource/ods-charts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache, prettier --write

.lintstagedrc.json:

{
  "*.{ts,js,mjs}": ["eslint --cache --cache-location .eslintcache"],
  "*.{ts,js,mjs,json,md,yml,yaml}": ["prettier --write"]
}

npm run install:react
  test/react/package-lock.json
Due: prettier --write

npm run install:angular-ngx-echarts
  test/angular-ngx-echarts/package-lock.json
Due: prettier --write

npm run install:vue
  test/vue/package-lock.json
Due: prettier --write

npm run install:angular-ng-boosted
  test/angular-ng-boosted/package-lock.json
Due: prettier --write

fix(docs): Change imports according to Astro update
  docs/src/libs/content.ts
  docs/src/pages/[version]/examples/[...slug].astro
  docs/src/pages/[version]/use_cases/[...slug].astro
Due: eslint --cache --cache-location .eslintcache, prettier --write

npm run install:angular-echarts
  test/angular-echarts/package-lock.json
Due: prettier --write

Keep dependencies required by @ng-bootstrap/ng-bootstrap
  .github/dependabot.yml
  test/angular-ng-boosted/package-lock.json
  test/angular-ng-boosted/package.json
Due: prettier --write

npm run install:lib
  package-lock.json
  test/angular-echarts/package-lock.json
  test/angular-ng-boosted/package-lock.json
  test/angular-ngx-echarts/package-lock.json
  test/react/package-lock.json
  test/vue/package-lock.json
Due: prettier --write

upgrade typescript + node + npm run install:angular-ngx-echarts
  .nvmrc
  test/angular-ngx-echarts/package-lock.json
  test/angular-ngx-echarts/package.json
  test/angular-ngx-echarts/tsconfig.json
Due: prettier --write

upgrade typescript + node + npm run install:angular-echarts
  test/angular-echarts/package-lock.json
  test/angular-echarts/package.json
  test/angular-echarts/tsconfig.json
Due: prettier --write

Add missing astro collections
  docs/src/content.config.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

npm run install:angular-14
  test/angular-14/package-lock.json
Due: prettier --write

fix test
  package-lock.json
  package.json
  src/theme/css-themes/css-helper.spec.ts
  test/angular-echarts/package-lock.json
  test/angular-ng-boosted/package-lock.json
  test/angular-ngx-echarts/package-lock.json
  test/react/package-lock.json
  test/vue/package-lock.json
  tsconfig.json
  tsconfig.test.json
Due: eslint --cache --cache-location .eslintcache, prettier --write

npm run install:lib
  test/angular-echarts/package-lock.json
  test/angular-ng-boosted/package-lock.json
  test/angular-ngx-echarts/package-lock.json
  test/react/package-lock.json
  test/vue/package-lock.json
Due: prettier --write

npm run install:lib
  package-lock.json
Due: prettier --write

fix(lib): Minified bundle alias and license header
  build/check-source-headers.mjs
  build/finalize-dist-bundles.mjs
  build/sync-source-headers.mjs
  package.json
  specs/spec-16-minified-bundle-and-license-header.md
Due: eslint --cache --cache-location .eslintcache, prettier --write

fix(test): fix unit test
  spec/support/jasmine.json
  src/theme/css-themes/css-helper.spec.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

fix(lib): Wrong marker color
  specs/spec-1062-wrong-marker-color.md
  src/theme/ods-chart-theme.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

Unit test
  src/theme/ods-chart-theme.spec.ts
  src/theme/ods-chart-theme.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

fix(lib): Inconsistency in parameters of ODSChartsPopoverItem
  docs/src/content/use_cases/tooltip.md
  specs/spec-1061-popover-marker-update.md
  src/theme/popover/ods-chart-popover.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

Unit test
  src/theme/popover/ods-chart-popover-definitions.ts
  src/theme/popover/ods-chart-popover.spec.ts
  src/theme/popover/ods-chart-popover.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

remove vscode settings from
  .gitignore
  .vscode/settings.json
Due: prettier --write

remove vscode settings from git
  .gitignore
Due: none

fix(lib): ODS Charts uses tooltip.formatter in place of valueFormatter
  specs/spec-1022-value-formatter-support.md
Due: prettier --write

ECharts version compatibility decision
  specs/spec-1022-value-formatter-support.md
Due: prettier --write

First IA implementation
  docs/src/content/use_cases/add-unit.md
  docs/src/content/use_cases/dataset.md
  docs/src/content/use_cases/specify-color.md
  docs/src/content/use_cases/tooltip.md
  src/theme/popover/ods-chart-popover.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

Potential fix for pull request finding
  specs/spec-1061-popover-marker-update.md
Due: prettier --write

[FIX] Update doc when differene between marke attribute and getPopoverMarker() method
  docs/src/content/use_cases/tooltip.md
  specs/spec-1061-popover-marker-update.md
  src/theme/ods-chart-theme.ts
  src/theme/popover/ods-chart-popover-definitions.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write

Potential fix for pull request finding
  specs/spec-1062-wrong-marker-color.md
Due: prettier --write

Potential fix for pull request finding
  src/theme/ods-chart-theme.spec.ts
Due: eslint --cache --cache-location .eslintcache, prettier --write
